<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/student_style.css' %}">


</head>
<body>
    <div class="navigation-menu">
        <h1>Welcome, Student!</h1>
        <a class= logout>Logout</a>
    </div>
    <div class="search-student">
        <h1>The student stuff goes here, really no need for 50 graphs</h1>
    </div>

<div class="content">