<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Recommendation</title>

    <style>
        /* Your inline CSS styles go here */
        .header {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: right;
        }
        .login-button {
            padding: 8px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .login-button:hover {
            background-color: #0056b3;
        }
        body {
            font-family: Arial, sans-serif;
            background-color:blue ;
        }
        h1{
            background-color:white;
            text-color: pink;
        }
        form{
            text-color:pink;
            background-color: white;
            border-radius: 10px;
        }
        .section form {
            background-color: white;
        }

    </style>

</head>
<body>
    <div class="header">
        <a href="{% url 'login' %}" class="login-button">Login</a>
    </div>

    <h1 size='Quick'>SELECT YOUR SUBJECTS</h1>
    <form action="{% url 'recommend_courses' %}" method="post">
        {% csrf_token %}
        <label for="subject1">
            <input type="checkbox" id="MATHEMATICS" name="subjects[]" value="Mathematics"> MATHEMATICS
        </label>
        <br>
        <label for="subject2">
            <input type="checkbox" id="ENGLISH" name="subjects[]" value="Science"> ENGLISH
        </label>
        <br>
        <label for="subject3">
            <input type="checkbox" id="KISWAHILI" name="subjects[]" value="History"> KISWAHILI
        </label>
        <br>
        <label for="subject4">
            <input type="checkbox" id="CHEMISTRY" name="subjects[]" value="English"> CHEMISTRY
        </label>
        <br>
        <label for="subject5">
            <input type="checkbox" id="BIOLOGY" name="subjects[]" value="Computer Science"> BIOLOGY
        </label>
        <br>
        <label for="subject6">
            <input type="checkbox" id="PHYSICS" name="subjects[]" value="Art"> PHYSICS
        </label>
        <br>
        <label for="subject2">
            <input type="checkbox" id="CRE" name="subjects[]" value="Science"> C.R.E
        </label>
        <br>
        <label for="subject3">
            <input type="checkbox" id="HISTORY" name="subjects[]" value="History"> HISTORY
        </label>
        <br>
        <label for="subject4">
            <input type="checkbox" id="GEOGRAPHY" name="subjects[]" value="English"> GEOGRAPHY
        </label>
        <br>
        <label for="subject5">
            <input type="checkbox" id="AGRICULTURE" name="subjects[]" value="Computer Science"> AGRICULTURE
        </label>
        <br>
        <label for="subject6">
            <input type="checkbox" id="BUSINESS" name="subjects[]" value="Art"> BUSINESS STUDIES
        </label>
        <br>
        <label for="subject2">
            <input type="checkbox" id="COMPUTER" name="subjects[]" value="Science"> COMPUTER STUDIES
        </label>
        <br>
        <label for="subject3">
            <input type="checkbox" id="HOME" name="subjects[]" value="History"> HOME SCIENCE
        </label>
        <br>
        <input type="submit" value="Submit"/>


    <section>
        <h2>SELECT YOUR INTERESTS</h2>
        <form action="{% url 'recommend_courses' %}" method="post">
            <label for="subject1">
                <input type="checkbox" id="POLITICS" name="interests[]" value="Mathematics"> POLITICS
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="SCIENCE" name="interests[]" value="Science"> SCIENCE
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="DESIGN" name="interests[]" value="History">DESIGN
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="ARTS" name="interests[]" value="English"> ARTS
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="TEACHING" name="interests[]" value="Computer Science"> TEACHING
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="PUBLIC SPEAKING" name="interests[]" value="Art"> PUBLIC SPEAKING
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="READING" name="interests[]" value="Science"> READING
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="OUTDOOR ACTIVITIES" name="interests[]" value="History"> OUTDOOR ACTIVITIES
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="MUSIC" name="interests[]" value="English"> MUSIC
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="ARTS AND CREATIVITY" name="interests[]" value="Computer Science">ART AND CREATIVITY
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="GARDENING" name="interests[]" value="Art"> GARDENING
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="GAMING" name="interests[]" value="Science"> GAMING
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="WRITING" name="interests[]" value="History"> WRITING
            </label>
            <br>
            <label for="subject1">
                <input type="checkbox" id="TRAVELLING" name="interests[]" value="Mathematics"> TRAVELLING
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="TECHNOLOGY" name="interests[]" value="Science"> TECHNOLOGY
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="CODING" name="interests[]" value="History">CODING
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="VOLUNTEERING" name="interests[]" value="English"> VOLUNTEERING
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="COLLECTING" name="interests[]" value="Computer Science"> COLLECTING
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="DANCE" name="interests[]" value="Art"> DANCE
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="FILM AND CINEMA" name="interests[]" value="Science"> FILM AND CINEMA
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="ANIMAL PETS" name="interests[]" value="History"> ANIMAL PETS
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="DIY AND CRAFTING" name="interests[]" value="English"> DIY AND CRAFTING
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="HISTORY" name="interests[]" value="Computer Science"> HISTORY AND GENEOLGY
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="ASTRONOMY" name="interests[]" value="Art"> ASTRONOMY
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="READING" name="interests[]" value="Science"> READING AND LEARNNG
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="FISHING" name="interests[]" value="History"> FISHING
            </label>
            <br>
            <label for="subject1">
                <input type="checkbox" id="BIRD WATCHING" name="interests[]" value="Mathematics"> BIRD WATCHING
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="CYCLNG" name="interests[]" value="Science"> CYCLNG
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="ARCHERY" name="interests[]" value="History">ARCHERY
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="MARTIAL ARTS" name="interests[]" value="English"> MARTIAL ARTS
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="POTTERY AND CERAMICS" name="interests[]" value="Computer Science"> POTTERY AND CERAMICS
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="BOARD GAME DESIGN" name="interests[]" value="Art"> BOARD GAME DESIGN
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="HOME BREWING" name="interests[]" value="Science"> HOME BREWING
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="PHOTOGRAPHY" name="interests[]" value="History"> PHOTOGRAPHY
            </label>
            <br>
            <label for="subject4">
                <input type="checkbox" id="GOLF" name="interests[]" value="English"> GOLF
            </label>
            <br>
            <label for="subject5">
                <input type="checkbox" id="ROBOTICS" name="interests[]" value="Computer Science">ROBOTICS
            </label>
            <br>
            <label for="subject6">
                <input type="checkbox" id="CALLIGRAPHY" name="interests[]" value="Art"> CALLIGRAPHY
            </label>
            <br>
            <label for="subject2">
                <input type="checkbox" id="HOME IMPROVEMENT" name="interests[]" value="Science"> HOME IMPROVEMENT
            </label>
            <br>
            <label for="subject3">
                <input type="checkbox" id="METAL DETECTING" name="interests[]" value="History"> METAL DETECTING
            </label>
            <br>
         
        <input type="submit" value="Submit">
    </form>
</section>
</body>
   
</html>