{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inbox_styles.css' %}">
</head>
<body>
    <h1>Inbox</h1>
    <div id="inbox-container">
        <div id="inbox-messages">
            <h3>Chats</h3>
            <ul class="chat-list">
                {% for user in users %}
                    <li><a href="{% url 'chat' user.id %}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
