{% load static %}
<center  >
<h1> Update Profile </h1>
</br>
<link rel="stylesheet" type="text/css" href="{% static 'css/student_style.css' %}">



{% if updated %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                  {{ SUCCESS }}
            </div>
        {% endfor %}
{% else %}
    <form action ="" method= POST>
     {% csrf_token %}

     {{ form.as_p }}

        <input type ="submit" value ="update" class="btn btn-secondary" >

    </form>
{% endif %}



</center >


