{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommended Courses</title>
  <link rel="stylesheet" href="{% static 'css/recommended_courses.css' %}">
</head>
<body>
  <h1>Recommended Courses for You:</h1>
  <ul class="courses-list"> 
    {% for course in proacted_recommendations %}
      <li class="course-item">
        <a href="#">
          <h4>{{ course.title }}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
