{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/student_style.css' %}">


</head>
<body>
    <div class="navigation-menu">
        <h1>Intervention</h1>
        <a class= logout>Logout</a>
    </div>
    <div class="search-student">
        <h1>The student stuff goes here, really no need for 50 graphs</h1>
    </div>

<div class="content">
    <div class="school-grid">
        {% for school in school_data %}
            <div class="content-item">
                <a href="#{{ school.name }}" class="school-button">{{ school.name }}</a>
                <div id="{{ school.name }}" class="departments-container">

                    <div class="hover-container">
                    <select>
                       
                                {% for department in school.departments %}
                                
                                    <option value="option1">{{ department }}</option>
                                    {% if department == 'computer science' %}
                                    <optgroup class="options" label="program">
                                        {% for course in school.cs %}
                                        <option value="option3-1">{{ course }}</option>
                                        {% endfor %}
                                      </optgroup>
                                    {% else %}
                                    <optgroup class="options" label="program">
                                        {% for course in school.IT %}
                                        <option value="option3-1">{{ course }}</option>

                                        {% endfor %}
                                      </optgroup>
                                      {% endif %}
                                
                                {% endfor %}
                                
                        
                        </select>
                    </div>
                        
                </div>
            </div>
        {% endfor %}
    </div>
</div>       


<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Email: info@proacted.com</p>
            <p>Phone: +254 (7) 437-20033</p>
        </div>
    </div>
        <div class="copyright">
            <p>&copy; 2023 ProActEd; University of Maseno. All Rights Reserved.</p>
        </div>
    </div>
</footer>

</body>
</html>
