{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mess_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="header">    
        <nav>
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'profile' %}"><i class='bx bx-user'></i> Profile</a></li>
                    <li><a href="{% url 'course_recommendation' %}"><i class='bx bx-book'></i> Course Recommendation</a></li>
                    <li><a href="#"><i class='bx bx-support'></i> Intervention</a></li>
                    <li><a href="{% url 'inbox' %}"><i class='bx bx-envelope'></i> Inbox</a></li>
                    <li><a href="{% url 'login' %}"><i class='bx bx-log-out'></i> Logout</a></li>
                </ul>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    fetch('{% url "check_new_messages" %}')
                    .then(response => response.json())
                    .then(data => {
                        if (data.has_new_messages) {
                            document.getElementById('inbox-notification').style.display = 'block';
                        }
                    });
                });
            </script>
        </nav>
        <h1>Welcome, {{ student_name }}!</h1>
    </div>
    <div class="content"> 
        <h2>PROGRESS GRAPH</h2>
        <div class="container">
            <canvas id="performanceChart" ></canvas>
            <!-- width="80%" height="400" -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('performanceChart').getContext('2d');
        var performanceChart = new Chart(ctx, {
            width: 500, 
            height: 50,
            type: 'bar',
            data: {
                // Hard-coded labels for the x-axis (e.g., representing semesters or months)
                labels: ['Semester 1', 'Semester 2', 'Semester 3', 'Semester 4'],
                datasets: [{
                    label: 'Student Progress by Key Metrics', // showing a line graph of the students progress 
                    // Hard-coded data values for each label on the x-axis (e.g., representing grades or scores)
                    data: [0, 10],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true  // Ensures that the y-axis starts at 0
                    }
                }
            }
        });
    });
    </script> 

    <h4>You're probability of finishing and graduating: {{ refined_prediction }}</h4>

    <div id="progressBarContainer">
        <div id="progressBar">

            <style>
                #progressBarContainer {
                width: 70%; /* Set the width of the progress bar container */
                height: 30px; /* Set the height of the progress bar container */
                border: 1px solid #ccc; /* Add a border for visual clarity */
                border-radius: 5px;
                margin-left: 20%;
              }
              
              #progressBar {
                height: 100%; /* Set the height of the progress bar to fill the container */
                background-color: rgb(7, 252, 142); /* Default color for the progress bar */
                transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out; /* Add smooth transition effects */
              }
            </style>
            

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                // Get the progress bar element
                var progressBar = document.getElementById('progressBar');

                // Set the value for the progress bar (between 0 and 100)
                var value = {{ refined_prediction }}; // Example value

                // Set the width of the progress bar based on the value
                progressBar.style.width = value + '%';

                // Change the color of the progress bar based on the value
                if (value >= 75) {
                    progressBar.style.backgroundColor = 'green';
                } else if (value >= 50) {
                    progressBar.style.backgroundColor = 'yellow';
                } else if (value >= 25) {
                    progressBar.style.backgroundColor = 'orange';
                } else if (value < 25) {
                    progressBar.style.backgroundColor = 'red';
                }
                });

            </script>
              
        </div>
    </div>
      

    <div class="content">
        <!-- Content for school and department display -->
        <div class="school-grid">
            {% for school in school_data %}
                <div class="content-item">
                    <a href="#{{ school.name }}" class="school-button">{{ school.name }}</a>
                    <div id="{{ school.name }}" class="departments-container">
                        <!-- Department and course selection -->
                        <div class="hover-container">
                            <select>
                                {% for department in school.departments %}
                                    <option value="{{ department }}">{{ department }}</option>
                                    <!-- Course options based on department -->
                                    {% if department == 'computer science' %}
                                        <optgroup label="program">
                                            {% for course in school.cs %}
                                                <option value="{{ course }}">{{ course }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% else %}
                                        <optgroup label="program">
                                            {% for course in school.IT %}
                                                <option value="{{ course }}">{{ course }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>       
</body>
<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Email: info@proacted.com</p>
            <p>Phone: +254 (7) 437-20033</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 ProActEd; Maseno University. All Rights Reserved.</p>
    </div>
</footer>
</html>

