{% comment %} profile.html {% endcomment %}
{% load static %}
{% load admin_urls %}
<div class="profile-section">
    <div class="profile-box">
        <div class="profile-header">
            <h3>Profile</h3>
        </div>
        <div class="profile-content">
            <img src="{% static 'academia_app/profile-pic.png' %}" alt="Profile Picture" class="profile-picture">
            <p class="profile-name">Name: {{ request.user.get_full_name|default:request.user.username }}</p>
            {% if request.user.is_superuser %}
            <p class="role">Role: Super Adminstrator</p>
            {% else %}
            <p class="role">Role: Staff Adminstrator</p>
            {% endif %}
            <p class="profile-email">Email: {{ request.user.email }}</p>
        </div>
    </div>
    <div class="school-box">
        <h2>School Probability area to be occuped by a chart or graph</h2>
        <h4>Here</h4>
    </div>
</div>


