body {
    background-color: #0f203f;
    color: #ffffff;
}
#header {
    background-color: #020225;
    color: #FFDB58;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    position: relative; /* Needed for z-index to work */
    z-index: 10;
}

.custom-footer {

    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    bottom: 0;
}

.footer-content {
    max-width: 1140px;
    margin: 0 auto;
}

.custom-logo {
    height: auto;
    width: auto;
    max-height: 55px;
    transform: scale(1.2);
    vertical-align: middle;
}

.header-texts {
    margin-bottom: 0px;
    margin-left: 5px;
}

#site-name {
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.header-right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-welcome-message {
    margin-top: 5px;
    font-size: 16px;
    color: #FFDB58;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.theme-toggle {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    background: none;
    border: none;
    box-shadow: none;
}

.theme-toggle img, .theme-toggle svg {
    width: 24px;
    filter: invert(75%) sepia(95%) saturate(3000%) hue-rotate(20deg) brightness(100%) contrast(101%);
    transition: filter 0.3s ease;
}

/* Customizing the side bar */

#custom-sidebar {
    background-color: #020225;
    padding: 20px;
    position: fixed;
    top: 73px; /* Adjust based on your header's height */
    bottom: 0px;
    left: 0;
    width: 200px;
    margin-left: 0;
    overflow-y: auto;
    z-index: 0;
}

.sidebar-section {
    margin-bottom: 20px;
    margin-left: 0;
}

.sidebar-section h3,
.sidebar-section .collapsible-item {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 0;
    color:#FFDB58;
}

.sub-content {
    display: none;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0;
}

.sub-content a {
    display: block;
    color: #eaeef2;
    margin-left: 0;
    text-decoration: none;
    margin-bottom: 5px;
}

.sub-content a:hover {
    text-decoration: underline;
}

#footer {
    background-color: #020225;
    color: #FFDB58;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#content, .content{
    margin-left: 200px;
}
.admin-content {
    margin-left: 200px;
}

.breadcrumbs { /* Replace with the actual class or ID */
    margin-left: 240px;
}

@media (max-width: 768px) {
    #custom-sidebar {
        width: 100%;
        top: 0;
        bottom: auto;
        left: 0;
    }

    .custom-logo {
        transform: scale(1);
    }
}
