/* login.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #020225;
    color: #FFDB58;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.header h2 {
    margin-left: 10px; /* better alignment */
    margin-right: auto;
}

.custom-logo {
    height: 70px; /* Fixed height for better alignment */
    width: auto;
    margin-right: 10px; 
}

.footer {
    background-color: #020225;
    color: #FFDB58;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px; 
    border-radius: 5px;
}

.login-box {
    width: 450px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box h2 {
    margin: 0;
    padding: 20px 0;
    color: #FFDB58;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Label styles */
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #020225;
    font-weight: bold;
    text-align: left;
}

/* Input field styles */
.input-group input {
    width: 80%; /* Adjusted width to fit better with the design */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    text-align: center;
}

/* Button styles */
.input-group button {
    width: 50%; /* Adjusted width for better design */
    padding: 10px;
    background-color: #007BFF;
    color: #FFDB58;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    margin-bottom: 15px;
    text-align: center;
}
