body{
    background-color: rgb(3, 1, 35);
}

h1{
    text-align: center;
    color: rgb(139, 98, 49);
}
h2{
    text-align: center;
    color: rgb(139, 98, 49);
}

.footer {
    background-color: #333;
    padding-top: 20px; 
    padding-bottom: 10px; 
    text-align: center;
    color: white; 
    font-size: 14px;
    margin-top: 500px; 
}
.navbar {
    background-color: #333; /* Set your desired background color */
}

.navbar a {
    color: white; /* Set the text color for navbar links */
    padding: 15px; /* Set the padding for navbar links */
    text-decoration: none; /* Remove underline from links */
}

.navbar a:hover {
    background-color: #555; /* Set the background color on hover */
}

.navbar-brand {
    color: white; /* Set the text color for the brand/logo */
}

.navbar-toggler-icon {
    background-color: white; /* Set the color for the toggler icon */
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #333; 
    }

    .navbar-collapse a {
        color: white; 
        padding: 10px; 
    }

    .navbar-collapse a:hover {
        background-color: #555; 
    }
}


