body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.login-box {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    /* Styles for the student page section */
     #student-page {
        display: none;
    }

    .navigation-menu {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: right;
    }

    .navigation-menu button {
        background-color: #ff4500;
        color: #000;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .navigation-menu button:hover {
        background-color: #ff6347;
    }

    /* .sidebar {
        background-color: #c41919;
>>>>>>> a8aafc1f4e0b7897d2500120900e0786f14f61be
=======
    .sidebar {
        background-color: #f1f1f1;
>>>>>>> 7fd201a8a0800bf612e088bca5388551e51c8d39
        float: center;
        width: 20%;
        padding: 20px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        margin-bottom: 10px;
    }

    .sidebar ul li a {
        text-decoration: none;
        color: #333;
<<<<<<< HEAD
<<<<<<< HEAD
    }
=======
    } */
    }

    .content {
        float: left;
        width: 80%;
        padding: 50px;
    }
   